<div class="row bois " height="500px">
    <div class="col-2 mt-2"> 
      <img src="{{ asset('images/logo Girafe.jpg')}}" alt="image girafe" height="40px" class="marginLogo">
    </div>

    <div class="col-3 "> 
      <h1 class="Title MarginTitle text-center mt-2 fw-bolder">ARCADIA</h1>
    </div>

    <div class="col-5 global"> 
      <ul class="nav justify-content-end mt-2 ">
          <li class="nav-item">
              <a class="nav-link foret navsize"  href="#">Services</a>
          </li>
          <li class="nav-item">
               <a class="nav-link foret navsize" href="#">habitats</a>
          </li>
          <li class="nav-item">
              <a class="nav-link foret navsize" href="#">Avis</a>
          </li>
          <li class="nav-item">
              <a class="nav-link  foret navsize" href="#">Contact</a>
          </li>
      </ul>
          <button class="btn foret dropdown-toggle icons" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ asset('images/menu.png')}}" alt="menu logo" height="180px" class="menuLogo">
          </button>
    </div>

    <div class="col-2 mt-3 d-flex  align-items-center mb-2"> 
          <button type="button" class="btn buttonConnect ">Connexion</button>
        

    
    </div>

</div>