    
    <div class=" bois">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{{ asset('images/logo Girafe.jpg') }}" alt="image girafe" height="60" class="ms-5 paddingLogo">
        <span class="fs-4 ms-5 Title paddingTitle align-items-center"><h1>ARCADIA</h1></span>
      </a>

      <ul class="nav nav-pills col-6 align-items-center">
        
        <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Habitats</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Avis</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        
        <li class="nav-item paddingConnect ms-3"><a href="#" class="nav-link active" aria-current="page">Connexion</a></li>
        <li class="nav-item ms-3"><a href="#" class="nav-link active" aria-current="page">Déconnexion</a></li>
       
      </ul>
      
       
        
      
    </header>
  </div>