<div class="row bois ">
    <div class="col-2"> 
      <img src="{{ asset('images/logo Girafe.jpg')}}" alt="image girafe" height="40px" class="ms-5">
    </div>

    <div class="col-3"> 
      <h1 class="Title">ARCADIA</h1>
    </div>

    <div class="col-4 "> 
      <ul class="nav paddingNavBar">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
</ul>
    </div>

    <div class="col-3"> 
    
    </div>

</div>