

body {
    background-color: grey;
    
}

.bois{
    background-color: #AF854F;
}

.foret{
    color: #237823;
}

.Title{
    color: #237823;
    -webkit-text-stroke: 0.4px white;
    font-family: 'Mukta Vaani';
}

.MarginTitle{
    margin-left: 2rem;
}

.classNavBar{
    color: #237823;
    padding-top: 2rem;
}

.navsize{
    font-size:medium;
   
}

.buttonConnect{
    background-color: #237823;
    color: white;
    
    border-radius: 45px;
    font-size: small;
    margin-right: 6rem;
}

.marginLogo{
    margin-left: 4rem;
}


@import "~bootstrap/scss/bootstrap";

