

body {
    background-color: grey;
}

.bois{
    background-color: #AF854F;
}

.Title{
    color: #237823;
    -webkit-text-stroke: 0.2px white;
    font-family: 'Mukta Vaani';
}

.paddingNavBar{
    padding-top: 10rem;
}

$primary: #237823;
$secondary: #AF854F;
$dark: #553C2A;



@import "~bootstrap/scss/bootstrap";

