

body {
    background-color: grey;
}

.bois{
    background-color: #AF854F;
}

.foret{
    color: #237823;
}

.Title{
    color: #237823;
    -webkit-text-stroke: 0.2px white;
    font-family: 'Mukta Vaani';
}

.MarginTitle{
    margin-left: 5rem;
}

.classNavBar{
    color: #237823;
    padding-top: 2rem;
}





@import "~bootstrap/scss/bootstrap";

